/*Global*/








/*Navigation*/
.navigation{
    background-color: transparent;
    padding:12px 0;
}

.navigation ul{
    padding:0;
    margin:0;
    list-style-type:none;
   
}

.navigation li{
    display:inline-block;
    margin:0 36px 0 0;
    position:relative;
}

.navigation a{
    text-decoration: none;
    /*add color*/
}

li:hover{
    color:#fff;
}

/*Service*/
.service-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.services{
    flex: 0 0 33.333%;
    text-align:center;
    }

.title{
    font-size:24px;
    margin: 0 0 12px 0 ;
}

.description{
    height:120px;
    line-height:20px;
    padding:5px;
}

.fas{
    width:70px;
    height:70px;
    line-height:70px;
    color: rgb(255, 244, 44);
    border:solid;
    border-radius:50%;
    font-size:36px;
}


/*Card*/
.card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

/*Media*/
@media (max-width: 767px) {
    .work-wrapper {
        flex-direction:column;
    }
    .service-wrapper{
    flex-direction:column;
    }
    .our-work{
        max-width: 100%;
        height: 150px;
    }
    .social-links{
        font-size:15px;
}}